body
{ margin: 0px; font-family: Times New Roman, Arial, Helvetica, Verdana, sans-serif; }

.header
{ 
    width: 100%; position: fixed ; top: 0px; left: 0px; 
    background: linear-gradient(to top, #00ff00, #ffffff);
    height: 60px;
    overflow: visible;
    z-index: 1;
}

.logo 
{  width: 30%; float: left; }

.navigation
{ display: block; list-style: none; width: 70%; float: right; }

.nav ul
{ display: none; list-style: none; }

.nav li
{
  float: right; display: block; font-size: 20px;
  padding: 0px 18px 0px 18px; 
  border-left: 1px solid white;
}

.nav li a { color: black;}

.nav a:link, #nav a:visited, #nav a:active
{ display: block; text-decoration: none; }

.nav a:hover { padding-top: 10px;}

h4 { 
  text-align: center; 
}

.wrapper { 
  width: 1130px; 
  margin-left: auto; 
  margin-right: auto;
}

.gallery { 
  text-align: center; 
  position: relative; 
  opacity: 0.9;
}

.gallery button{
  margin: 20px;
  padding: 10px 10px;
  background-color: #7fff00;
  color: white;
  border: none;
  font-family: Times New Roman, Arial, Helvetica, Verdana, sans-serif;
  cursor: pointer;
}

.modal-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active{
  visibility: visible;
  opacity: 1;
}
.modal{
  position: relative;
  background-color: white;
  width: 50%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  
}
